@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.left{
    width: 25vw;
    padding: 10px;
    /* position: fixed; */
    position: relative;
}
.close img{
    position: absolute; 
    top: 35px;
    width: 50px;
    right: 20px;
    /* display: none; */

}

.right{
    width: 75vw;
    max-height: 100vh;
    
    
}
.home ul li{
    display: flex;
    list-style: none;
    width: 20px;
    gap: 15px;
    font-weight: bold;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-left: 14px;
    font-weight: 400;
    align-items: center;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 10%;
}
.library{
    min-height: 77vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 10px;
    padding: 15px 0px;
    
    flex-wrap: wrap;
    & a{
        color: gray;
    }
    position: absolute;
    bottom: 0;

}
.header > *{
padding: 20px;
}
.header{
    background-color: #343434;
    height: 85px;
    /* position: fixed;
    width: 71.8vw;
    z-index: 1; */
}
.nav img{
    display: none;
}
.right{
    margin: 16px 0px;
    position: relative;
}
.right .header{
        display: flex;
        justify-content: space-between;
       
    
}
.nav{
    
    width: 40px;
    gap: 10px;
}

.Spotify-playlist{
    padding: 20px;
    & .cardContainer{
      
        margin: 30px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 60vh;
    }
   
    & .card{
        position: relative;
        
        width: 15%;
        padding: 10px;
        background-color: #313131;
        transition: all;
      
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        & .play{
            width: 28px;
            height: 28px;
            background-color: #1fdf64;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            padding: 4px;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 180px;
            /*130*/
            right: 17px;
            opacity: 0;
            transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -ms-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            




        }
   
       & p{
        font-size: 15px;
       }

        & img{
            width: 100%;
            object-fit: contain;
        }
    }
    & .card >*{
        padding-top: 3px;
    }
 
}
.card :hover{  
      & .play{
        opacity: 1;
        top: 130px;
      }
       
    
}

.button {
    gap: 5px;
    & .signup{
        background-color: black;
        color: white;
        font-weight: bold;
        border: none; 
        padding: 15px 26px;

        border-radius: 20px;
        color: rgb(255, 255, 255);
        transition: all 0.1s ease-out;
        font-size: 1.1rem;
        
       
    }
    & .LogIn{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: none;             
        padding: 15px 26px;
        transition: all 0.1s ease-out;

        border-radius: 20px;
        font-size: 1.1rem;
        color: rgb(255, 255, 255);

    }
    .signup:hover{
        color: rgb(0, 0, 0);
        background-color: white;
        font-size: 1.3rem;
    }
    .LogIn:hover{
        color: rgb(0, 0, 0);
        font-size: 1.3rem;
        background-color: rgb(255, 255, 255);
    }
  
  
   
}

.playbar{
    position: fixed;
    bottom: 20px;
    padding: 20px;
    background-color: #202429;
    width: 71vw;
    height: 35px;
    border-radius: 30px;


}
.platbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.songList{
margin: 30px 0;
}
.songList ul{
max-height: 450px;
padding: 10px ;
overflow-y: scroll;




& li{
    list-style-type: decimal;
    display: flex;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    margin:12px 0; 
    padding: 10px;
    border-radius: 5px;
    justify-content:space-between;

    & .info{
        width: 150px;
        padding-left: 10px;
        overflow-x:  hidden;
        & span{
           max-width: 150px;
           overflow-x: scroll;
        }
    }
    
   

    & .playnow{
        display: flex;
        justify-content: center;
        align-items: center;
   
   

        & span{
            width: 64px;
            font-size: 15px;
            padding: 12px;
        }
    }

    

}

}

.seekbar{
    width: 97%;
    background-color: rgb(231, 234, 210);
    height: 10px;
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.circle{
    background-color:  rgb(250, 255, 227);
    /* background-color: black; */
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    transition: all .3s;
    bottom: -7px;
    left: 0px;
   
}
.abouveBar{
    display: flex;
    justify-content: space-between;
    & .songInfo , .songTime{
        padding: 0 15px;
    }
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.close{
    display: none;
}
@media( max-width:1400px) {
    .left{
        position: absolute;
        left: -100%;
        transition: all .5s;
        z-index: 1;
        width: 350px;
        background-color: rgb(0, 0, 0);
    }
    
    .nav img{
        display: block;
        width: 40px;
        position: absolute;
        left: 10px;
    }
    .logo img{
        width: 100px;
    }
    .close{

        display: block;
    }
    
    .nav svg:first-child{
        position: absolute;
        left: 65px;
        width: 30px;
        
        top: 28px;
        
    }
    .abouveBar{
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-left: 20px;

        & .platbuttons{
            padding-left: 20px;
           position: relative;
           top: -7px;
        }
        & .songTime{
            position: relative;
            top: -7px;
            /* right: 0px; */
        }
        
        
    }

    .cardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100vh;

    }
    .abouveBar .songInfo{
        padding: 0px 0px;
       font-size: 20px;
       max-width: 100%;
       padding-right: 20px;
       overflow-x: scroll;
       /* display: flex;      
       justify-content: center;
       align-items: center;
       flex-wrap: wrap; */

     
    } 
    .nav svg:nth-child(2){
        position: absolute;
        left: 100px;
        width: 30px;
        top: 28px;
    }
    .right{
        width: 100vw;

    }
   
    .Spotify-playlist .cardContainer .card{
        width: 90vw;
    }
    .playbar{
        width: 89vw;
    }
    .seekbar{
        width: 90vw;
    }
}

